apiVersion: apps/v1
kind: Deployment
metadata:
  name: nest-k8-demo
  namespace: app-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nest-k8-demo
  template:
    metadata:
      labels:
        app: nest-k8-demo
    spec:
      containers:
        - name: nest-k8-demo
          image: nest-k8-demo:latest
          imagePullPolicy: IfNotPresent  # Never for Minikube; IfNotPresent for server/registry
          resources:
            requests:
              memory: '128Mi'
              cpu: '100m'
            limits:
              memory: '256Mi'
              cpu: '500m'
          startupProbe:
            httpGet:
              path: /health
              port: 3000
            failureThreshold: 30 # up to 5 minutes
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: production
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
